.card.mb-4 {
    padding: 10px 25px;
}

.btn-bottom {
    text-align: center;
    width: 100%;
    margin: 2%;
}

.timeline-inputs {
    width: 80%;
    position: relative;
    left: 10%;
    margin-bottom: 5%;
}

.timeline-form {
    text-align: center;
}