{% load static %}
<div class="chat-message-left pb-4">
    <div>
        <img src="{% static chats_info.recent_chats.0.profile_photo %}" class="rounded-circle mr-1" alt="{{chats_info.recent_chats.0.username}}"
            width="40" height="40">
    </div>
    <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
        <div class="font-weight-bold mb-1">{{chats_info.recent_chats.0.username}}</div>
       {{text}}
       <div class="text-muted small text-nowrap mt-2">{{date}}</div>
    </div>
</div>